// color variable 
// theme color on demo theme Green ,  #6d2382 indigo , #1974c3 blue, #ff9c00 Yellow, #ef2727 red.

$primary-bg:#f9f9f9;
$primary-border:#d8d7da;
$theme-color: green; 
$white-color: #fff;

// alpha color set
 
$blue-alfa: rgba(#1974c3, 0.7); 

// dim text color

$dim-text:#bbb;
$red-color:red;
$black-color:#000;
